{extends file="admin-layout.tpl"}


{block name="no-return-functions"}
    {$admin_current_location = 'moretextarea'}
{/block}

{block name="page-title"}{intl l='Rajouter des champs texte'}{/block}

{block name="main-content"}
{$nrb_month=1}
<div class="categories">
    <div id="wrapper" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="general-block-decorator">
                    <div class="table-responsive">
                         <table class="table table-striped table-condensed" id="lieu_list">
                             <caption>
								 {intl l="Plus de champs texte aux catégories"}

                                 {loop type="auth" name="can_create" role="ADMIN" resource="admin.moretextarea" access="CREATE"}
                                 <a class="btn btn-primary action-btn clickmodiftyp" title="{intl l='Ajouter un nouveau champ texte'}" href="#moretextaea_creation_dialog"  data-typobj="0" data-toggle="modal">
                                     <span class="glyphicon glyphicon-plus-sign"></span>
                                 </a>
                                 {/loop}
                             </caption>

                             {ifloop rel="champs_list0"}
                                 <thead>
                                     <tr>
                                         <th class="object-title">Id</th>
                                         <th class="object-title">Nom du champ</th>
                                         <th class="actions">{intl l='Actions'}</th>
                                     </tr>
                                 </thead>

                                 <tbody>
                                 {loop name="champs_list0" type="moretextarea" origine=0}
                                 <tr>
                                     <td>{$ID}</td>
                                     <td class="object-title">{$TITLE}</td>
									 
									  <td class="actions">
                                         <div class="btn-toolbar btn toolbar-primary">
                                             <span class="glyphicon glyphicon-cog"></span>
                                         </div>
                                         <div class="toolbar-options hidden">
                                             {loop type="auth" name="can_change" role="ADMIN" resource="admin.moretextarea" access="UPDATE"}
                                                <a class="field-edit" title="{intl l='Edit this field'}" href="#moretextarea_edit_dialog" data-id="{$ID}" data-input="{$TITLE}" data-typch="{$TYPCH}" data-toggle="modal"><span class="glyphicon glyphicon-edit"></span></a>
                                             {/loop}

                                             {loop type="auth" name="can_delete" role="ADMIN" resource="admin.moretextarea" access="DELETE"}
											<a class="field-delete" title="{intl l='Delete this field'}"  href="#moretextarea_delete_dialog" data-id="{$ID}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
										 {/loop}
                                         </div>
                                      </td>
                                 </tr>
                                 {/loop}
                                 </tbody>
                             {/ifloop}

                             {elseloop rel="champs_list0"}
                             <thead>
                                 <tr>
                                     <td class="message">
                                         <div class="alert alert-info">
                                         {loop type="auth" name="can_create" role="ADMIN" resource="admin.moretextarea" access="CREATE"}
                                             {intl l="Aucun champ de créé pour le moment, cliquez sur le + pour créer un champ."}
                                         {/loop}

                                         {elseloop rel="can_create"}
                                            {intl l="Vous n'avez pas les droits pour créer un champ."}
                                         {/elseloop}
                                         </div>
                                     </td>
                                 </tr>
                             </thead>
                             {/elseloop}
                         </table>
                     </div>
                </div>
            </div>
        </div>
		
		
		<div class="row">
            <div class="col-md-12">
                <div class="general-block-decorator">
                    <div class="table-responsive">
                         <table class="table table-striped table-condensed" id="lieu_list">
                             <caption>
								 {intl l="Plus de champs texte aux produits"}

                                 {loop type="auth" name="can_create" role="ADMIN" resource="admin.moretextarea" access="CREATE"}
                                 <a class="btn btn-primary action-btn clickmodiftyp" title="{intl l='Ajouter un nouveau champ texte'}" href="#moretextaea_creation_dialog" data-typobj="1" data-toggle="modal">
                                     <span class="glyphicon glyphicon-plus-sign"></span>
                                 </a>
                                 {/loop}
                             </caption>

                             {ifloop rel="champs_list1"}
                                 <thead>
                                     <tr>
                                         <th class="object-title">Id</th>
                                         <th class="object-title">Nom du champ</th>
                                         <th class="actions">{intl l='Actions'}</th>
                                     </tr>
                                 </thead>

                                 <tbody>
                                 {loop name="champs_list1" type="moretextarea" origine=1}
                                 <tr>
                                     <td>{$ID}</td>
                                     <td class="object-title">{$TITLE}</td>
									 
									  <td class="actions">
                                         <div class="btn-toolbar btn toolbar-primary">
                                             <span class="glyphicon glyphicon-cog"></span>
                                         </div>
                                         <div class="toolbar-options hidden">
                                             {loop type="auth" name="can_change" role="ADMIN" resource="admin.moretextarea" access="UPDATE"}
                                                <a class="field-edit" title="{intl l='Edit this field'}" href="#moretextarea_edit_dialog" data-id="{$ID}" data-input="{$TITLE}" data-typch="{$TYPCH}" data-toggle="modal"><span class="glyphicon glyphicon-edit"></span></a>
                                             {/loop}

                                             {loop type="auth" name="can_delete" role="ADMIN" resource="admin.moretextarea" access="DELETE"}
											<a class="field-delete" title="{intl l='Delete this field'}"  href="#moretextarea_delete_dialog" data-id="{$ID}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
										 {/loop}
                                         </div>
                                      </td>
                                 </tr>
                                 {/loop}
                                 </tbody>
                             {/ifloop}

                             {elseloop rel="champs_list1"}
                             <thead>
                                 <tr>
                                     <td class="message">
                                         <div class="alert alert-info">
                                         {loop type="auth" name="can_create" role="ADMIN" resource="admin.moretextarea" access="CREATE"}
                                             {intl l="Aucun champ de créé pour le moment, cliquez sur le + pour créer un champ."}
                                         {/loop}

                                         {elseloop rel="can_create"}
                                            {intl l="Vous n'avez pas les droits pour créer un champ."}
                                         {/elseloop}
                                         </div>
                                     </td>
                                 </tr>
                             </thead>
                             {/elseloop}
                         </table>
                     </div>
                </div>
            </div>
        </div>
		 <div class="row">
            <div class="col-md-12">
                <div class="general-block-decorator">
                    <div class="table-responsive">
                         <table class="table table-striped table-condensed" id="lieu_list">
                             <caption>
								 {intl l="Plus de champs texte aux dossiers"}

                                 {loop type="auth" name="can_create" role="ADMIN" resource="admin.moretextarea" access="CREATE"}
                                 <a class="btn btn-primary action-btn clickmodiftyp" title="{intl l='Ajouter un nouveau champ texte'}" href="#moretextaea_creation_dialog"  data-typobj="2" data-toggle="modal">
                                     <span class="glyphicon glyphicon-plus-sign"></span>
                                 </a>
                                 {/loop}
                             </caption>

                             {ifloop rel="champs_list2"}
                                 <thead>
                                     <tr>
                                         <th class="object-title">Id</th>
                                         <th class="object-title">Nom du champ</th>
                                         <th class="actions">{intl l='Actions'}</th>
                                     </tr>
                                 </thead>

                                 <tbody>
                                 {loop name="champs_list2" type="moretextarea" origine=2}
                                 <tr>
                                     <td>{$ID}</td>
                                     <td class="object-title">{$TITLE}</td>
									 
									  <td class="actions">
                                         <div class="btn-toolbar btn toolbar-primary">
                                             <span class="glyphicon glyphicon-cog"></span>
                                         </div>
                                         <div class="toolbar-options hidden">
                                             {loop type="auth" name="can_change" role="ADMIN" resource="admin.moretextarea" access="UPDATE"}
                                                <a class="field-edit" title="{intl l='Edit this field'}" href="#moretextarea_edit_dialog" data-id="{$ID}" data-input="{$TITLE}" data-typch="{$TYPCH}" data-toggle="modal"><span class="glyphicon glyphicon-edit"></span></a>
                                             {/loop}

                                             {loop type="auth" name="can_delete" role="ADMIN" resource="admin.moretextarea" access="DELETE"}
											<a class="field-delete" title="{intl l='Delete this field'}"  href="#moretextarea_delete_dialog" data-id="{$ID}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
										 {/loop}
                                         </div>
                                      </td>
                                 </tr>
                                 {/loop}
                                 </tbody>
                             {/ifloop}

                             {elseloop rel="champs_list2"}
                             <thead>
                                 <tr>
                                     <td class="message">
                                         <div class="alert alert-info">
                                         {loop type="auth" name="can_create" role="ADMIN" resource="admin.moretextarea" access="CREATE"}
                                             {intl l="Aucun champ de créé pour le moment, cliquez sur le + pour créer un champ."}
                                         {/loop}

                                         {elseloop rel="can_create"}
                                            {intl l="Vous n'avez pas les droits pour créer un champ."}
                                         {/elseloop}
                                         </div>
                                     </td>
                                 </tr>
                             </thead>
                             {/elseloop}
                         </table>
                     </div>
                </div>
            </div>
        </div>
		
		
		<div class="row">
            <div class="col-md-12">
                <div class="general-block-decorator">
                    <div class="table-responsive">
                         <table class="table table-striped table-condensed" id="lieu_list">
                             <caption>
								 {intl l="Plus de champs texte aux contenus"}

                                 {loop type="auth" name="can_create" role="ADMIN" resource="admin.moretextarea" access="CREATE"}
                                 <a class="btn btn-primary action-btn clickmodiftyp" title="{intl l='Ajouter un nouveau champ texte'}" href="#moretextaea_creation_dialog" data-typobj="3" data-toggle="modal">
                                     <span class="glyphicon glyphicon-plus-sign"></span>
                                 </a>
                                 {/loop}
                             </caption>

                             {ifloop rel="champs_list3"}
                                 <thead>
                                     <tr>
                                         <th class="object-title">Id</th>
                                         <th class="object-title">Nom du champ</th>
                                         <th class="actions">{intl l='Actions'}</th>
                                     </tr>
                                 </thead>

                                 <tbody>
                                 {loop name="champs_list3" type="moretextarea" origine=3}
                                 <tr>
                                     <td>{$ID}</td>
                                     <td class="object-title">{$TITLE}</td>
									 
									  <td class="actions">
                                         <div class="btn-toolbar btn toolbar-primary">
                                             <span class="glyphicon glyphicon-cog"></span>
                                         </div>
                                         <div class="toolbar-options hidden">
                                             {loop type="auth" name="can_change" role="ADMIN" resource="admin.moretextarea" access="UPDATE"}
                                                <a class="field-edit" title="{intl l='Edit this field'}" href="#moretextarea_edit_dialog" data-id="{$ID}" data-input="{$TITLE}" data-typch="{$TYPCH}" data-toggle="modal"><span class="glyphicon glyphicon-edit"></span></a>
                                             {/loop}

                                             {loop type="auth" name="can_delete" role="ADMIN" resource="admin.moretextarea" access="DELETE"}
											<a class="field-delete" title="{intl l='Delete this field'}"  href="#moretextarea_delete_dialog" data-id="{$ID}" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span></a>
										 {/loop}
                                         </div>
                                      </td>
                                 </tr>
                                 {/loop}
                                 </tbody>
                             {/ifloop}

                             {elseloop rel="champs_list3"}
                             <thead>
                                 <tr>
                                     <td class="message">
                                         <div class="alert alert-info">
                                         {loop type="auth" name="can_create" role="ADMIN" resource="admin.moretextarea" access="CREATE"}
                                             {intl l="Aucun champ de créé pour le moment, cliquez sur le + pour créer un champ."}
                                         {/loop}

                                         {elseloop rel="can_create"}
                                            {intl l="Vous n'avez pas les droits pour créer un champ."}
                                         {/elseloop}
                                         </div>
                                     </td>
                                 </tr>
                             </thead>
                             {/elseloop}
                         </table>
                     </div>
                </div>
            </div>
        </div>
	</div>
</div>


	{capture "moretextaea_creation_dialog"}
		<input type="hidden" name="typobj" id="typobj" value="" />
		<input type="hidden" name="action" value="moretextaea_creation_dialog">
		<input type="hidden" name="success_url" value="{url path='/admin/modules/moretextarea/moretextarea-accueil'}">
		<div class="form-group">
			<label>Nom du champs</label>
			<input type="text" name="name" value="" class="form-control">
		</div>
    {/capture}
    {include
        file = "includes/generic-create-dialog.html"
        dialog_id    = "moretextaea_creation_dialog"
        dialog_title = {intl l="Create a new textarea"}
        dialog_body  = {$smarty.capture.moretextaea_creation_dialog nofilter}
        dialog_ok_label     = {intl l="Create this textarea"}
        form_action        = {url path='/admin/modules/moretextarea/form'}
    }

	{capture "moretextarea_edit_dialog"}
		<input type="hidden" name="id" id="field_edit_id" value="" />
		<input type="hidden" name="action" value="moretextarea_edit_dialog">
		<input type="hidden" name="success_url" value="{url path='/admin/modules/moretextarea/moretextarea-accueil'}">
		<div class="form-group">
			<label>Nom du champs</label>
			<input type="text" name="name" value="" id="field_edit_title" class="form-control">
		</div>	
<div class="form-group">
			<label>Type du champs</label>
			<select name="typch" id="field_edit_type" class="form-control">
				<option value="0">Input</option>
				<option value="1">textarea</option>
				<option value="2">text enrichi</option>
			</select>
		</div>
    {/capture}
    {include
        file = "includes/generic-create-dialog.html"
        dialog_id    = "moretextarea_edit_dialog"
        dialog_title = {intl l="Edit a textarea"}
        dialog_body  = {$smarty.capture.moretextarea_edit_dialog nofilter}
        dialog_ok_label     = {intl l="Edit this textarea"}
        form_action        = {url path='/admin/modules/moretextarea/form'}
    }


{capture "moretextarea_delete_dialog"}
	<input type="hidden" name="id" id="field_delete_id" value="" />
	<input type="hidden" name="success_url" value="{url path='/admin/modules/moretextarea/moretextarea-accueil'}" />
	<input type="hidden" name="action" value="moretextarea_supprimer_field" />
{/capture}

{include
file = "includes/generic-confirm-dialog.html"

dialog_id       = "moretextarea_delete_dialog"
dialog_title    = {intl l="Supprimer le champ"}
dialog_message  = {intl l="Êtes vous sur de vouloir supprimer ce champ ?"}

form_action         = {token_url path='/admin/modules/moretextarea/form'}
form_content        = {$smarty.capture.moretextarea_delete_dialog nofilter}
}

{/block}

{block name="javascript-initialization"}
    <script>
        $(function() {
            $('a.field-delete').click(function(ev) {
                $('#field_delete_id').val($(this).data('id'));
            });
            $('a.field-edit').click(function(ev) {
                $('#field_edit_title').val($(this).data('input'));
                $('#field_edit_type option[value="'+ $(this).data('typch') +'"]').prop('selected', true);
                $('#field_edit_id').val($(this).data('id'));
            });
            $('.clickmodiftyp').click(function(ev) {
                $('#typobj').val($(this).data('typobj'));
            });
		});
	</script>
{/block}
{block name="javascript-last-call"}
    {hook name="home.js" location="home-js" }
{/block}